/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;800&family=VT323&display=swap');
 */
/* #root {
    width: 100%;
}
 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-style: "Poppins", sans-serif;
}

#root {
    width: 100%;
    height: 100%;
}

main {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

/* ASIDE CONTAINER */
.logo-text-home {
    color: white;
}

.you-have-Q-label {
    color: orange;
}

.aside-nav-bar {
    width: 30%;
    height: 100%;
    /* background-color: #177ddd5c; */
    padding: 35px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-right: 1px solid black;
    transition: all 0.35s ease-in-out;
    background-color: #054a86;
}

.aside-nav-icon-middle-container {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.icons {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 10px;
    align-items: center;
    cursor: pointer;
    color: white;
    text-decoration: none;
    margin-bottom: 5px;
}

.icons:hover {
    background-color: orange;
    border-radius: .5rem;
}

.selected {
    background-color: orange;
    border-radius: .5rem;
}

.aside-form {
    width: 90%;
    height: 30%;
    margin-top: -50px;
}

.textarea-1 {
    resize: none;
    width: 100%;
    height: 70%;
    padding: 10px;
    border-radius: .5rem;
}

.textarea-1:hover {
    border-color: orange;
}

.aside-form-button {
    width: 100%;
    padding: 10px 0px;
    border: 1px solid orange;
    border-radius: .5rem;
    background-color: orange;
    font-weight: bolder;
    cursor: pointer;
}

.aside-form-button:hover {
    background-color: #054a86;
    color: orange;
}

.active {
    background-color: orange;
    border-radius: .5rem;
}


/* MAIN CONTAINER */
.main-box-container {
    width: 70%;
    display: flex;
}

/* -----welcome----- */
.insight-header {
    color: #054a86;
}

.insight, 
.welcome-insight-header,
.insight-header {
    padding: 0 20px;
}

.unordered-list-1,
.unordered-list-2 {
    padding-left: 40px;
    padding-right: 20px;
}

.welcome-insight-header,
.insight-header {
    padding-top: 20px;
    padding-bottom: 20px;
}

.welcome-colored-label {
    color: orange;
}

/* -----question list------ */

.question-list-header {
    color: #054a86;
}

.question-display-container {
    width: 50%;
    height: 100%;
}

.question-display-inner-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.question-display-inner-header-container {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.question-display-inner-list-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
    height: 90%;
    overflow-y: auto;
    padding: 10px;
}

/* ----------------others questions list--------------- */

.question-card {
    width: 95%;
    border: 1px solid #054a86;
    padding: 10px;
    border-radius: .5rem;
    background-color: #054a86;
    color: white;
}

.question-card:hover {
    cursor: pointer;
    background-color: orange;
    border-color: orange;
    color: black;
}

.question-card-date,
.question-card-author {
    font-size: 12px;
}

/* ----------------user questions list--------------- */

.user-question-card {
    width: 95%;
    border: 1px solid #054a86;
    padding: 10px;
    border-radius: .5rem;
    background-color: #054a86;
    color: white;
}

.user-question-card:hover {
    cursor: pointer;
    background-color: orange;
    border-color: orange;
    color: black;
}

.user-question-card-date {
    font-size: 12px;
}

.otherselectedquestion {
    background-color: orange;
    color: black;
    border-color: orange;
}

.userselectedquestion {
    background-color: orange;
    color: black;
    border-color: orange;
}

.empty-question {
    font-size: 50px;
    color: #054a86;
}

.empty-question-icon {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* -----response list------ */

.response-card {
    width: 95%;
    border: 1px solid orange;
    padding: 10px;
    border-radius: .5rem;
    background-color: orange;
    color: black;
    margin-bottom: 10px;
}

.response-list-header {
    color: orange;
}

.response-display-container {
    width: 50%;
    height: 100%;
}

.illustration-container,
.response-display-container-2 {
    width: 100%;
    height: 100%;
}

.response-display-container-2 {
    border-left: 1px solid black;
}

.empty-response {
    font-size: 50px;
    color: #054a86;
}

.empty-response-icon {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* for welcome only */
.illustration-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.response-display-inner-header-container {
    width: 100%;
    height: 10%;
    border-bottom: 1px solid black;
    padding: 20px 10px;
    background-color: #054a86;
}

.response-display-inner-list-container {
    width: 100%;
    height: 55%;
    border-bottom: 1px solid black;
    overflow-y: auto;
    padding: 10px;
}

.response-form {
    width: 100%;
    height: 35%;
    padding: 10px;
    background-color: #054a86;
}

.response-form-button {
    width: 40px;
    height: 40px;
    padding: 2px;
    border-radius: 100%;
    float: right;
    margin-bottom: 10px;
    font-size: 20px;
    cursor: pointer;
    border-color: orange;
    border-style: solid;
    background-color: orange;
    color: black;
}

.response-form-button:hover {
    background-color: #054a86;
    color: orange;
}

.textarea-2 {
    resize: none;
    width: 100%;
    height: 60%;
    padding: 10px;
    border-radius: .5rem;
}

.textarea-2:hover {
    border-color: orange;
}

/* QUERY MEDIA */

@media screen and (max-width: 1000px) {
    .you-have-Q-label {
        padding-left: 20px;
    }
}

@media screen and (max-width: 990px) {
    .insight,
    li {
        font-size: 14px;
    }
}

@media screen and (max-width: 843px) {
    main {
        flex-direction: column;
    }
    
    .aside-nav-bar {
        padding-top: 10px;
        padding-bottom: 0px;
        width: 100%;
        height: 40%;
        display: grid;
        grid-template-columns: .25fr .75fr 1fr;
        grid-template-rows: .25fr .25fr 1.5fr;
    }

    .logo-text-home {
        padding-left: 20px;
    }

    .icons {
        font-size: 12px;
    }

    .you-have-Q-label,
    .aside-form {
        grid-column: span 3;
    }

    .you-have-Q-label {
        padding-left: 20px;
        font-size: 16px;
        padding-top: 25px;
        padding-bottom: -10px;
    }

    .aside-form {
        height: 60%;
        margin-left: 20px;
    }

    .aside-form textarea {
        height: 100%;
    }

    .aside-form-button {
        width: 100px;
    }

    .aside-nav-icon-middle-container {
        display: flex;
        flex-direction: row;
        justify-content: right;
        grid-column: span 2;
    }

    .main-box-container {
        width: 100%;
        height: 60%;
    }
}


@media screen and (max-width: 632px) {
    .aside-nav-bar {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:flex-start;
        gap: 10px;
    }

    .aside-nav-icon-middle-container {
        justify-content: center;
        gap: 10px;
        margin-top: 10px;
    }
    
    .logo-text-home,
    .you-have-Q-label {
        margin-left: -20px;
    }

    .logo-text-home {
        margin-top: -5px;
    }

    .you-have-Q-label {
        margin-top: -20px;
        margin-bottom: -10px;
    }

    .aside-form {
        height: 30%;
        margin-top: 10px;
        margin-left: -20px;
    }

    .icons p {
        display: none;
    }
}